<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.phonegap.DiceRoll"
        version   = "1.0.0">

    <name>DiceRoll</name>

    <description>
        DiceRoll application.
    </description>

   	<plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-shake"/>
</widget>